* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}

@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}

@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}

@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1 nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 10vh;
    width: 100vw;
    /* background-color: yellow; */
}

#page1 nav img {
    width: 9%;
}

#right-nav button {
    margin-top: 30px;
    margin-left: 10px;
    padding: 9px 25px;
    border-radius: 50px;
    background-color: #0b47ed78;
    border: 0.5px solid #ffecec69;
    color: #fff;
    font-family: a;
    font-size: 13px;
}

#bottom-page1 {
    margin-bottom: 40px;
    position: absolute;
    bottom: 5%;
    height: 45vh;
    width: 50vw;
    left: 5%;
}

#bottom-page1 h1 {
    font-family: a;
    font-size: 6vw;
    font-weight: 100;
    line-height: 1;
    color: #fff;
}

#bottom-page1-inner {
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
}

#bottom-page1-inner {
    font-family: a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 30px; */
}

/* #bottom-page1-inner button{
    padding: 14px 45px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #1043dc;
    font-family: b;
    font-size: 15px;
    text-transform: uppercase;
} */
#bottom-page1-inner button {
    padding: 14px 45px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    color: #1043dc;
    font-family: b;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
}

#bottom-page1-inner button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: height 0.3s, background-color 0.3s;
    z-index: -1;
}

#bottom-page1-inner button:hover::before {
    height: 100%;
    background-color: #000;
}

#bottom-page1-inner button:hover {
    color: #fff;
}


#bottom-page1-inner h4 {
    font-size: 1.3vw;
    font-weight: 100;
    color: #fff;
}

#page2 {
    display: flex;
    align-items: start;
    font-family: a;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
    background-color: #0a3cce;
}

#page2 h2 {
    margin-bottom: 3vw;
    font-weight: 100;
}

#page2 h1 {
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 4vw;
    color: #dadada69;
}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

#page3>canvas {
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}

#page4 {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
    font-family: a;
}

#page4 h3 {
    font-size: 1rem;
    margin-left: 12vw;
    margin-bottom: 2vw;
    color: #fff;
    font-weight: 100;
}

#page4 h1 {
    margin-left: 13vw;
    width: 75%;
    font-size: 3.5vw;
    font-weight: 50;
    color: #ffffff81;
}

#page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page5 canvas {
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}

#page6 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: a;
}

/* #page6 h3{
    margin-left: 20vw;
    font-weight: 100;
    color: #fff;
    margin-bottom: 2vw;
} */
#page6 h3 {
    font-size: 1rem;
    margin-left: 12vw;
    margin-bottom: 2vw;
    color: #fff;
    font-weight: 100;
}

/* #page6 h1{
    margin-left: 20vw;
    font-size: 3vw;
    width: 70%;
} */
#page6 h1 {
    margin-left: 13vw;
    width: 75%;
    font-size: 3.5vw;
    font-weight: 50;
    color: #ffffff81;
}

#page7 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce91;
}

#page7 canvas {
    position: relative;
    max-height: 100vh;
    max-width: 100vw;
}

#page7-cir {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 0.5px solid #0e5194;
}

#page7-cir-inner {
    height: 70%;
    width: 70%;
    background-color: transparent;
    border-radius: 50%;
    border: 0.5px solid #fff;
}
.circle-container {
    position: fixed; /* Change this to "fixed" */
    top: 50%; /* Position vertically at 50% from top */
    left: 50%; /* Position horizontally at 50% from left */
    transform: translate(-50%, -50%); /* Center the container */
  }
  
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* background-color: #3498db; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}

#page8 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#page8 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page8-bottom {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: a;
}

#page8-bottom h1 {
    color: #fff;
    margin-bottom: 2vw;
    font-size: 5vw;
    font-weight: 100;
}

#page8-bottom button {
    padding: 13px 36px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    color: #0a3cce;
}

#page8-bottom button span {
    font-size: 13px;
}


#page9 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}

#left9 {
    height: 100%;
    width: 40%;
    position: relative;
    font-family: a;
}

#left9>h1 {
    position: absolute;
    top: 35%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 6vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}

#right9 {
    height: 100%;
    width: 60%;
    position: relative;
}

#right9-center {
    height: 65%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}

#page10 {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* background-color: #0a3cce; */
    background-color: rgb(11, 60, 204);
}

#right10 {
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}

#right-inner {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    height: 33.3%;
    width: 100%;
    font-family: a;
    color: #fff;
    font-weight: 100;
}

#right-inner h1 {
    font-size: 1.7vw;
}

#right-inner p {
    margin-top: 1.5vw;
    font-size: 20px;
    width: 80%;
}

#page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: a;
}
#page11>h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
}
.page11-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.left11>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.left11:hover img{
    transform: scale(1.1);
}
.right11{
    padding-top: 5vw;
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}
.right11>h4{
    font-weight: 100;
}
.right11>h1{
    font-size: 2vw;
}
#page12 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #02268e;
}
#page12-inner{
    position: absolute;
    top: 20%;
    right: 15%;
    color: #fff;
    font-family: a;
}
#page12-inner h1{
    margin-bottom: 5px;
    font-size: 6vw;
    font-weight: 100;
}
#page12-inner p{
    font-size: 1.3vw;
}
#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller img {
    padding: 0 60px;
    display: inline-block;
    margin-top: 450px;
    transition: all linear 0.5s;
}

#scroller img:hover {
    color: #95c11e;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
#page13 {
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: rgb(15, 15, 23);
    color: #fff;
    font-family: a;
    padding: 7vw 10vw;
}
#page13 h1{
    font-size: 6vw;
    line-height: 1;
    font-weight: 100;
}
#page13 button{
    padding: 13px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2.7vw;
}
#page13 button {
    /* padding: 14px 45px; */
    border: none;
    border-radius: 50px;
    /* background-color: #fff; */
    /* color: #1043dc; */
    font-family: a;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 10;
}

#page13 button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    transition: height 0.3s, background-color 0.3s;
    z-index: -1;
}

#page13 button:hover::before {
    height: 100%;
    background-color: #fff;
}

#page13 button:hover {
    color: rgb(10, 60, 206);
}
#page14{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: rgb(15, 15, 23);
}
.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}
.page14-inner>i{
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}
.page14-inner>h1{
    margin-left: 90px;
    font-size: 2.3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


.page14-inner:hover .center14{
    height: 100%;
}